
.header__inner {
    margin: 0 auto;
    max-width: 1500px;
    background-color: #EEEEEE;
}

.header-left {
    display: flex;
    align-items: center;
    float: left;
    width: 400px;
    padding: 10px 50px;
    background-color: #EEEEEE;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 910px;
    padding: 10px 45px;
    background-color: #EEEEEE;
    height: 111px;
}

.box {
    padding: 1em 1em;
    margin: 2em 2em 2em 5em;
    width: 15px;
    height: 15px;
    color: #FFF;
    background: #3b6fde;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    float: left;
}

.box a {
    margin-top: 5px;
    padding: 0;
    color: #FFF;
}

.header__logo {
    float: left;
    color: #3b6fde;
}

.header-nav {
    list-style: none;
    margin: 30px 80px;
}

.header-nav__item {
    float: left;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.header-nav__item select {
    width: 150px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 2%), 0 2px 3px -2px rgba(0 0 0 / 5%);
    background-color: #fff;
    color: black;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.search-box {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    border: 1px solid #fcfcfc;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 2%), 0 2px 3px -2px rgba(0 0 0 / 5%);
}

.search-box input {
    float: left;
    width: 200px;
    height: 2.7em;
    padding: 5px 15px 5px 0;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-box input::placeholder {
    color: #91979c;
}

.search-box button {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 43.5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.search-box button::before {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%2391979c%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}